<div class="scormreport_heatmap_switch_wrapper{{#identlevel}} scormreport_heatmap_ident_{{identlevel}}{{/identlevel}}">
    <input type="checkbox" id="{{id_prefix}}_switch" class="scormreport_heatmap_switch_input">
    <label for="{{id_prefix}}_switch" class="scormreport_heatmap_switch_label">{{title}}</label>
    <div id="{{id_prefix}}_rightside" class="scormreport_heatmap_rightside">
        {{#answers}}
            {{#str}}answers, scormreport_heatmap{{/str}}: {{answers}}
        {{/answers}}
        {{#average}}
            {{#str}}average, scormreport_heatmap{{/str}}: {{average}}%
        {{/average}}
    </div>
    <div id="{{id_prefix}}_hiddencontent" class="scormreport_heatmap_switched_text">

    </div>
</div>