{{!
    @template scormreport_question/modal_passgrade

    This is a modal template. The modal consists of a form with a single input field and a submit button

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
    }

}}

{{< core/modal }}
    {{$title}}{{#str}} edit, scormreport_question {{/str}}{{/title}}
    {{$body}}
        <div class="container">
            <form>
                <div class="form-group row">
                    <label for="inputpercentage" class="col-sm-2 col-form-label">{{#str}} passinggrade, scormreport_question {{/str}}</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="inputpercentage" placeholder="{{#str}} 50 {{/str}}">
                    </div>
                </div>
            </form>
        </div>
    {{/body}}
    {{$footer}}
        <button type="button" class="btn btn-primary" data-action="inputpercentage">{{#str}} save {{/str}}</button>
        <button type="button" class="btn btn-secondary" data-action="cancel">{{#str}} cancel {{/str}}</button>
    {{/footer}}
{{/ core/modal }}