{{!
    @template scormreport_question/noticebox

    Shows permanent warnings in red text color surrounded by a red box.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
    }

}}


<div class="scormreport_question_noticebox">
    <p class="scormreport_question_notice">{{#str}}notice_unanswered_questions_scorm, scormreport_question{{/str}}</p>
    <p class="scormreport_question_notice">{{#str}}notice_not_submitted_answers_scorm, scormreport_question{{/str}}</p>
</div>