<div class="scormreport_heatmap_noticebox">
    <p class="scormreport_heatmap_notice">{{#str}}notice_unanswered_questions_scorm, scormreport_heatmap{{/str}}</p>
    <p class="scormreport_heatmap_notice">{{#str}}notice_not_submitted_answers_scorm, scormreport_heatmap{{/str}}</p>
</div>