<div class="c100 p{{$percentage}}0{{/percentage}} big green">
    <span class="percentagecircledefaulttext">{{$text}}{{/text}}</span>
    <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
    </div>
</div>