{{!
    @template scormreport_question/plotlysection

    Creates a section with a title and an empty div to be appended by the plotly js library.
    Also shows the id as a tooltip on hover.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Contect variables required for this template:
    * title - The title to be shown
    * id - The full id of the associated DB object

    Example context (json):
    {
        "title": "A wonderfull title"
    }

}}


<div id="scormreport_question_sectionwrapper_{{id}}">
    <div class="scormreport_question_title">
        <h2 title="{{id}}">{{title}}</h2>
        <span class="scormreport_question_rightside">{{#str}}answers, scormreport_question{{/str}}: {{answers}}</span>
    </div>
    <div id="scormreport_question_section_{{id}}" class="scormreport_question_plotly_section">
    </div>
</div>