<div id="scormreport_question_sectionwrapper_{{id}}">
    <div class="scormreport_question_title">
        <h2 title="{{id}}">{{title}}</h2>
        <span class="scormreport_question_rightside">{{#str}}answers, scormreport_question{{/str}}: {{answers}}</span>
    </div>
    <div id="scormreport_question_section_{{id}}" class="scormreport_question_plotly_section">
    </div>
</div>