<script src="https://cdn.plot.ly/plotly-2.11.1.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
<div>
    {{#showdashboard}}
    {{>scormreport_heatmap/dashboard}}
    {{/showdashboard}}
    {{^showdashboard}}
        {{#str}} norawscore, scormreport_heatmap {{/str}}
    {{/showdashboard}}
    {{>scormreport_heatmap/noticebox}}
    <div id="scormreport_heatmap_editor_dropdown_container">
        <label for="scormreport_heatmap_choose_editor">{{#str}}select_editor, scormreport_heatmap{{/str}}</label>
        <select id="scormreport_heatmap_choose_editor" name="editor">
            <option value="articulate">Articulate</option>
            <option value="ispringz">ispringz</option>
            <option value="default" selected="">{{#str}}default{{/str}}</option>
        </select>
    </div>
    <div id="scormreport_heatmap_container"></div>
</div>