<div id="scormreport_heatmap_sectionwrapper_{{id}}">
    <table class="table table-striped table-hover scormreport_heatmap_table_fixed">
        {{#lines}}
            <tr>
                <td class="cell c{{@index}} scormreport_heatmap_td_breaktext">
                    {{.}}
                </td>
            </tr>
        {{/lines}}
    </table>
</div>