<div id="scormreport_question_sectionwrapper_{{id}}">
    <table class="table table-striped table-hover scormreport_question_table_fixed">
        {{#lines}}
            <tr>
                <td class="cell c{{@index}} scormreport_question_td_breaktext">
                    {{.}}
                </td>
            </tr>
        {{/lines}}
    </table>
</div>